// Core variables and mixins
@import "variables";
@import "mixins";
@import "iconfont";
@import "button";

@import "~normalize.css";

.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $brand;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    outline: none;
  }
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}
h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

.li-spacing{
  display: inline-block;
  margin: 0 10px;
  height: 12px;
  width: 1px;
  background-color: lighten($gray-light, 25%);
}

.vbox{
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  // min-width: 1280px;
  border-spacing: 0;
  > header ~section{
    top: 60px;
  }
  > section{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}
.hbox{
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  &.stretch{
    height: 100%;
  }
  > aside,
  > section{
    vertical-align: top;
    display: table-cell;
    float: none;
    padding: 0;
    height: 100%;
  }
  > aside{
    position: relative;
  }
}